/*
**  Copyright 2017 Keith Irwin. All rights reserved.
**  Use of this source code is governed by a BSD-style
**  license that can be found in the LICENSE file.
*/
.LoginForm {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f2f2f2;
}

.LoginForm .LoginPanel {
  height: 230px;
  width: 400px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.LoginForm .LoginPanel h1 {
  text-align: center;
  font-size: 20pt;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}

.LoginForm .LoginPanel .Error {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: indianRed;
  text-align: center;
}

.LoginForm .LoginPanel .Control {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.LoginForm .LoginPanel .Widgets {
  display: flex;
  flex-direction: column;
}

.LoginForm .LoginPanel .Widgets .Widget {
  width: 100%;
  height: 40px;

  display: flex;
  margin: 0;

  padding: 2px;
  background-color: white;
  border: 1px solid silver;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.LoginForm .LoginPanel .Widgets .Widget.Pass {
  border-top: 0;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.LoginForm .LoginPanel .Widgets .Widget input {
  flex: 1;

  font-size: 15pt;
  color: #369;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;

  outline: none;
}

.LoginForm .LoginPanel .VisitLink {
  margin-top: 100px;
  text-align: center;
}

.LoginForm .LoginPanel .VisitLink p {
  font-size: 12pt;
}
